/*------------- #PAGINATION --------------*/


.pagination {
  margin-top: 40px;
  margin-bottom: 40px;

  .page-item {
	font-size: 12px;
	font-weight: 700;
	padding: 0 4px;
  }

  .page-link {
	border-radius: 5px;
  }
}